/* Général */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --rusty-red-color: #D22E48;
    --vivid-auburn-color: #9A2826;
    --metallic-red-color: #AC2B29;
    --philippine-silver-color: #B7B4B3; 
    --wenge-color: #645D5B; 
    --brown-coffee-color: #4D3228;
}

/* Style pour l'en-tête */
header {
    background-color: var(--wenge-color);
    color: var(--philippine-silver-color);
    padding: 20px 0;
}

/* Style pour la barre de nvigation */
#navbar {
    text-align: center;
}

/* Style des éléments de la liste */
#navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar li {
    margin: 0 15px;
    position: relative;
}

/* Style des liens */
.nav-link {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding: 8px 15px;
    display: block;
}

/* Effet au survol des liens */
.nav-link:hover {
    background-color: var(--philippine-silver-color);
    border-radius: 5px;
}

/* Style pour les éléments de menu déroulant */
.dropdown {
    position: relative;
}

.dropdown-mid1{
    display: none;
    position: absolute;
    top: 100%;
    right: 50%;
    background-color: var(--wenge-color);
    min-width: 200px;
    z-index: 10;
}

.dropdown-mid2 {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    background-color: var(--wenge-color);
    min-width: 200px;
    z-index: 10;
}

.dropdown-mid1 ul, .dropdown-mid2 ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dropdown-child {
    display: none;
    background-color: var(--wenge-color);;
}

.dropdown-child a {
    padding: 10px;
    color: #fff;
    text-decoration: none;
    display: block;
}

.dropdown-child a:hover {
    background-color: var(--metallic-red-color);
}

/* Affichage du menu déroulant au survol */
.dropdown:hover .dropdown-mid1,
.dropdown:hover .dropdown-mid2 {
    display: block;
}

/* Affichage du sous-menu dans le menu déroulant */
.dropdown-mid1 li:hover .dropdown-child, 
.dropdown-mid2 li:hover .dropdown-child {
    display: block;
}

/* Corps du document */
h1{
    color: var(--rusty-red-color);
    font-size: 10vh;
    text-align: center;
}

h2 {
    font-size: 3vh;
    text-align: center;
    color: var(--metallic-red-color);
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Section sur ma présentation*/
.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    color: var(--philippine-silver-color);
    background-image: linear-gradient(52deg, var(--metallic-red-color) 0%, #181719 100%);
  }

/* Images */
img {
    border-radius: 10px;
}

#photo {
    width: 25%;
    float: left;
    box-shadow: 5px 5px 10px black;
}

/*Session Contact*/
.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 80vh;
  padding: 0 2rem;
  background: var(--wenge-color);
}

h3 {
    grid-column: 1 / -1;
    text-align: center;
    font-size: 10vh;
    margin: 2rem 0 1rem;
    color: white;
    text-shadow: 5px 5px 5px black;
}

.contact-section-header > h2 {
  font-size: 9rem;
}

.fa-ig{
    width: 60px;
    height: 60px;
}

.fa-github{
    width: 60px;
    height: 60px;
}

.fa-mail{
    width: 60px;
    height: 60px;
}

@media (max-width: 28.75em) {
  .contact-section-header > h2 {
    font-size: 4rem;
  }
}

.contact-section-header > p {
  font-style: italic;
}

.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.contact-details {
  font-size: 2.4rem;
  text-shadow: 2px 2px 1px #1f1f1f;
  transition: transform 0.3s ease-out;
}

.contact-details:hover {
  transform: translateY(8px);
}

/* Responsive Design */
@media (max-width: 768px) {
    #navbar {
        flex-direction: column;
    }

    .nav-link {
        margin: 0.5rem 0;
    }

    #projects a {
        display: block;
        margin: 1rem 0;
    }

    #profile-link {
        font-size: 1rem;
    }
}

/* Animations */
